<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JosephsGranary</title>
  </head>

  <body>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>One</a>
        <ng-template ngbNavContent>
          <p>
            Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.
            Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby
            sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan
            american apparel, butcher voluptate nisi qui.
          </p>
        </ng-template>
      </li>

      <li [ngbNavItem]="2">
        <a ngbNavLink>carousel img</a>
        <ng-template ngbNavContent>
          <div>
            <jhi-carousel></jhi-carousel>
          </div>
        </ng-template>
      </li>

      <li [ngbNavItem]="3">
        <a ngbNavLink>ChurchReport</a>
        <ng-template ngbNavContent>
          <div>
            <jhi-table></jhi-table>
          </div>
        </ng-template>
      </li>

      <li [ngbNavItem]="4">
        <a ngbNavLink>accordion</a>
        <ng-template ngbNavContent>
          <div>
            <jhi-accordion></jhi-accordion>
          </div>
        </ng-template>
      </li>

      <li [ngbNavItem]="5">
        <a ngbNavLink>progressbar</a>
        <ng-template ngbNavContent>
          <div>
            <jhi-progressbar></jhi-progressbar>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>

    <!-- <pre>Active: {{ active }}</pre> -->
  </body>
</html>
